@model IPagedList<PacienteViewModel>

@{
    ViewBag.Title = "Pacientes";
}

<table width="100%" height="100%">
    <tr>
        <td align="left">
            <h2>Pacientes</h2>
            <p><a href="@Url.Action("Create")" class="btn btn-info"><i class="fas fa-plus-square"></i> Nuevo Paciente</a></p>
        </td>
        <td align="right">
            <img src="~/Content/images/sertevet1.jpg" width="40%" height="100%" alt="Placeholder" class="img-responsive" align="right" />
        </td>
    </tr>
</table>
<br />
<form method="get" action="@Url.Action("Index", new { isDetail=false})"
      data-otf-ajax="true" data-otf-target="#listaPacientes">


    <div class="input-group input-group-lg" style="width:auto">
        @*@Html.TextBox("search", "", new { @class = "form-control", data-otf-autocomplete = Url.Action("AutoComplete")});*@
        <div class="input-group-prepend">
            <span class="input-group-text"> Busqueda por Nombre :</span>
        </div>
        <input name="search" class="form-control" placeholder="Nombre del Paciente" data-otf-autocomplete=@Url.Action("AutoComplete") />
        <div class="input-group-append">
            <input type="submit" value="Filtrar" class="btn btn-outline-info" />
        </div>

    </div>
</form>
<br />
<div class="text-body">
    @Html.Partial("_PacienteList", Model)
</div>

<div class="row ">
    <div class=" col">
        @Html.ActionLink("Cambiar de Vista", "Index", new { }, new { @class = "btn btn-info float-right" })
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var DeleteThis = function (id) {
            $.get("@Url.Action("Eliminar")/" + id,
                function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }
    </script>
}