@model IPagedList<PacienteViewModel>

@{
    ViewBag.Title = "Pacientes";
}

<h2>Pacientes</h2>

<p>
    @Html.ActionLink("Nuevo Paciente", "Create", new { }, new { @class = "btn btn-info" })
</p>

<form method="get" action="@Url.Action("Index", new { isDetail=false})"
      data-otf-ajax="true" data-otf-target="#listaPacientes">


    <div class="input-group input-group-lg" style="width:auto">
        @*@Html.TextBox("search", "", new { @class = "form-control", data-otf-autocomplete = Url.Action("AutoComplete")});*@
        <div class="input-group-prepend">
            <span class="input-group-text"> Busqueda por Nombre :</span>
        </div>
        <input name="search" class="form-control" placeholder="Nombre del Paciente" data-otf-autocomplete=@Url.Action("AutoComplete") />
        <div class="input-group-append">
            <input type="submit" value="Filtrar" class="btn btn-outline-info" />
        </div>

    </div>
</form>
<br />
@Html.Partial("_PacienteList", Model)


<div class="row ">
    <div class=" col">
        @Html.ActionLink("Cambiar de Vista", "Index", new { }, new { @class = "btn btn-info float-right" })
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var DeleteThis = function (id) {
            $.get("@Url.Action("Eliminar")/" + id,
                function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }
    </script>
}