@model VetSoft.Data.Raza

@{
    ViewBag.Title = "Eliminar Raza";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Estas Seguro de querer Eliminar esto</h3>
<div>
    <h4>Raza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Nombre Especie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Ir a Lista ", "Index")
        </div>
    }
</div>
