@model IEnumerable<VetSoft.Data.Raza>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Razas</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info"><i class="fas fa-plus-square"></i> Nuevo Registro de Raza</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especie.Nombre) Especie
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie.Nombre)
            </td>
            <td>
                <a class="btn btn-primary" onclick="EditarR(@item.ID)">Editar</a> |
                <a class="btn btn-info" onclick="VerDetalle(@item.ID)">Detalles</a> |
                <a class="btn btn-danger" onclick="DeleteThis(@item.ID)">Eliminar</a>

                @*
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                *@
            </td>
        </tr>
    }

</table>


@section scripts {

    <script>
        function VerDetalle(id) {
        $.get("@Url.Action("Details")/" + id,
            function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }
        var EditarR = function (id) {
            $.get("@Url.Action("Editar")/" + id,
                function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }
        var DeleteThis = function (id) {
            $.get("@Url.Action("Eliminar")/" + id,
                function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }


    </script>
}