@model IEnumerable<RazaViewModel>

@{
    ViewBag.Title = "Razas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table width="100%" height="100%">
    <tr>
        <td align="left">
            <h2>Listado de Razas</h2>
            <p><a href="@Url.Action("Create")" class="btn btn-info"><i class="fas fa-plus-square"></i> Registrar Nueva Raza</a></p>
        </td>
        <td align="right">
            <img src="~/Content/images/sertevet1.jpg" width="100%" height="100%" alt="Placeholder" class="img-responsive" align="right" />
        </td>
    </tr>
</table>
<br />
<div class="table-responsive"  style="width:auto">
    <table class="table table-borderless table-striped text-md-center text-white" id="RazaList"
           style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Especie)
                </th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tfoot >
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Nombre)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Especie)
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            var dateTableOptions = {
                ajax: {
                    url: "@Url.Action("GetList")",
                    type: "GET",
                    datatype: "json"
                },
                columns: [
                    { data: "Nombre" },
                    { data: "EspecieName" },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<a class='btn btn-info' onclick='EditarR(" + data + ")'>Editar</a> |" +
                                "<a class='btn btn-info' onclick='VerDetalle(" + data + ")'>Detalles</a> | " +
                                "<a class='btn btn-danger' onclick='DeleteThis(" + data + ")'>Eliminar</a> "
                        },
                        searchable:false,
                        orderable: false,
                        width:"auto"
                    }
                ],
                language: {
                    url: "/fonts/espaniolTrans.json",
                    emptyTable: "Ningún dato disponible en esta tabla. Favor Hacer clic <b>Añadir </b>"
                }

            };
            dataTable = $("#RazaList").DataTable(dateTableOptions);

        });


        var EliminarRegistro = function (form) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    } else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "alert"
                        })
                    }
                    $.notify("redirecionando", "info");
                    setTimeout("location=('@Url.Action("Index")');", 1500);
                }
            });
            return false;
        };

        function VerDetalle(id) {
        $.get("@Url.Action("Details")/" + id,
            function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }
        var EditarR = function (id) {
            $.get("@Url.Action("Editar")/" + id,
                function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }
        var DeleteThis = function (id) {
            $.get("@Url.Action("Eliminar")/" + id,
                function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }


    </script>
}