@model IEnumerable<VetSoft.Data.Raza>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (!string.IsNullOrEmpty(TempData["msgError"] as string))
{
    @Html.Raw(TempData["msgError"]);
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especie.Nombre) Especie
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie.Nombre)
            </td>
            <td>
                <a class="btn btn-primary" onclick="EditarR(@item.ID)">Editar</a> |
                <a class="btn btn-info" onclick="VerDetalle(@item.ID)">Detalles</a> |
                <a class="btn btn-danger" onclick="DeleteThis(@item.ID)">Eliminar</a>

                @*
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                *@
            </td>
        </tr>
    }

</table>


<!-- The Modal -->
<div class="modal" id="modalData" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <br />
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" onclick="ModalClose()">
                    <span aria-hidden="true"> &times;</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="ModalClose()">Close</button>
            </div>

        </div>
    </div>
</div>

@section scripts {

    <script>
        function VerDetalle(id) {
        $.get("@Url.Action("Details")/" + id,
            function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }
        function ModalClose() {
            $('#modalData').hide();
            $('#modalData .modal-body').html(" ");
        }
        var EditarR = function (id) {
            $.get("@Url.Action("Editar")/" + id,
                function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }
        var DeleteThis = function (id) {
            $.get("@Url.Action("Eliminar")/" + id,
                function (data) { $('#modalData .modal-body').html(data); });
            $('#modalData').show();
        }


    </script>
}