@model VetSoft.Presentation.Models.EspecieViewModel

@{
    ViewBag.Title = "Detalle de Especie";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Detalle Especie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Esp)
        </dt>

        <dd>
            @if (string.IsNullOrEmpty(Model.Nombre_Esp))
            {
                <span class="alert-danger">Sin Nombre especifico</span>
            }else{ 
                @Html.DisplayFor(model => model.Nombre_Esp);
            }
        </dd>

    </dl>
    <hr />
    @if (Model.Razas.Count > 0)
    {
        <h4>Razas (@Model.Razas.Count)</h4>
        <div class="col-sm-6">
            <table class="table table-striped">
                <tr>
                    <th>
                        Nombre
                    </th>
                </tr>
                @{ var x = 1; }
                @foreach (var item in Model.Razas)
                {
                    <tr>
                        <td>
                            @x> @item.Nombre
                        </td>
                    </tr>
                    x++;
                }
            </table>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
