@model IEnumerable<EspecieViewModel>

@{
    ViewBag.Title = "Especies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" height="100%">
    <tr>
        <td align="left">
            <h2>Lista de Especies</h2>
            <p><a href="@Url.Action("Create")" class="btn btn-info"><i class="fas fa-plus-square"></i> Registrar Nueva Especie</a></p>
        </td>
        <td align="right">
            <img src="~/Content/images/sertevet1.jpg" width="100%" height="100%" alt="Placeholder" class="img-responsive" align="right" />
        </td>
    </tr>
</table>
<br>
<div class="table-responsive" style="width:100%">
    <table id="EspeciesTable" class="table table-striped table-borderless text-md-center text-white"
           style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Nombre_Esp)
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.Nombre)
                </td>
                <td>
                    @Html.DisplayNameFor(m => m.Nombre_Esp)
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>



@section scripts {
    <script type="text/javascript">

    var EliminarRegistro = function (form) {
        $.ajax({
            type: "POST",
            url: form.action,
            data: $(form).serialize(),
            success: function (data) {
                if (data.success) {
                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })
                } else {
                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "alert"
                    })
                }
                $.notify("redirecionando", "info");
                setTimeout("location=('@Url.Action("Index")');", 1500);
            }
        });
        return false;
    };

    function VerDetalle(id) {
    $.get("@Url.Action("Details")/" + id,
    function (data) { $('#modalData .modal-body').html(data); });
    $('#modalData').show();
    }
    var EditarR = function (id) {
    $.get("@Url.Action("Editar")/" + id,
    function (data) { $('#modalData .modal-body').html(data); });
    $('#modalData').show();
    }
    var DeleteThis = function (id) {
    $.get("@Url.Action("Eliminar")/" + id,
    function (data) { $('#modalData .modal-body').html(data); });
    $('#modalData').show();
    }

        $(document).ready(function () {

            var dateTableOptions = {
                ajax: {
                    url: "@Url.Action("GetList")",
                    type: "GET",
                    datatype: "json"
                },
                columns: [
                    { data: "Nombre" },
                    {
                        data: "Nombre_Esp",
                        defaultContent: "<span class='alert alert-danger'> N/A </span>" },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<a class='btn btn-info' onclick='EditarR(" + data + ")'>Editar</a> |" +
                                "<a class='btn btn-info' onclick='VerDetalle(" + data + ")'>Detalles</a> | " +
                                "<a class='btn btn-danger' onclick='DeleteThis(" + data + ")'>Eliminar</a> "
                        },
                        searchable:false,
                        orderable: false,
                        width:"auto"
                    }
                ],
                language: {
                    url: "/fonts/espaniolTrans.json",
                    emptyTable: "Ningún dato disponible en esta tabla. Favor Hacer clic <b>Añadir </b>"
                }

            };
            dataTable = $("#EspeciesTable").DataTable(dateTableOptions);

        });


    </script>
}
