@model IEnumerable<VetSoft.Data.Especie>

@{
    ViewBag.Title = "Especies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Especies</h2>

<p>
    <a href="@Url.Action("Create")" class = "btn btn-info" ><i class="fas fa-plus-square"></i>Registrar Nueva Especie</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Nombre Especifico
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (string.IsNullOrEmpty(item.Nombre_Esp))
                {<span class="alert-danger">N/A</span>}
                else
                {
                    @Html.DisplayFor(modelItem => item.Nombre_Esp);
                }

            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
