@model VetSoft.Presentation.Models.MedicamentosViewModel

@{
    ViewBag.Title = "Detalles Medicamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div class="container">
    <h4>Medicamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @if (string.IsNullOrEmpty(Model.Descripcion))
            {
                <span class="alert-danger">Sin Descripcion</span>
            }else{ 
                @Html.DisplayFor(model => model.Descripcion);
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo.Nombre)
        </dd>
    </dl>
    
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
