@model IEnumerable<VetSoft.Presentation.Models.MedicamentosViewModel>

@{
    ViewBag.Title = "Medicamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Medicamentos</h2>

<p>
    @Html.ActionLink("Crear Nueva Medicina", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @if (string.IsNullOrEmpty(item.Descripcion))
            {<span class="alert-danger">N/A</span>}
            else
            {
                @Html.DisplayFor(modelItem => item.Descripcion);
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
